/* AppComponent's private CSS styles */
html {
  background: antiquewhite;
}
h1 {
    margin-bottom: 0;
    text-align: center;
  }
  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #c0bebe;
    color: #000000;
    border-radius: 4px;
  }
  .options{
    text-align: end;
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
    background-color: #1222af;
  }
  nav a.active {
    background-color: black;
  }