/* HeroesComponent's private CSS styles */
.reservations {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .reservations li {
    position: relative;
    cursor: pointer;
  }
  
  .reservations li:hover {
    left: .1em;
  }
  
  .reservations a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .reservations a:hover {
    color: #000000;
    background-color: #00aaff;
  }
  
  .reservations a:active {
    background-color: #221f87;
    color: #fafafa;
  }
  
  .reservations .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #071213;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }